{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "about" %}" class="active section">{% trans "About" %}</a>
{% endblock %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block heading %}{% trans "About" %}{% endblock %}

{% block content %}
<h2 class="ui dividing header">{% trans "Licence" %}</h2>
<p>{% blocktrans %}The software is distributed under terms of AGPLv3+.{% endblocktrans %}</p>
<h2 class="ui dividing header">{% trans "Source Code" %}</h2>
<p>{% blocktrans %}You can fetch the source code from <a href="https://github.com/frlan/partuniverse">github.com</a>{% endblocktrans %}</p>
</div>
{% endblock %}
