{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "part_list" %}" class="section">{% trans "Parts" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href="{% url "part_detail" object.id %}">{{ object.name }}</a>
{% endblock %}

{% block head_title %}{% trans "Delete a part" %}{% endblock %}

{% block heading %}{% trans "Delete a part" %}{% endblock %}

{% block content %}
    <p>{% blocktrans %}
                Are you sure you want to delete »{{ object }}«?
           {% endblocktrans %}</p>

<form class="ui form" method="post">
    <button class="ui positive button" name="cancel" type="submit" value="Cancel">{% trans "Cancel" %}</button>
    <button class="ui negative button" name="confirm" type="submit" value="Confirm">{% trans "Confirm" %}</button>
    {% csrf_token %}
</form>
{% endblock %}
