{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% block breadcrumbs %}
<a href="{% url "partslist" %}" class="section">{% trans "Parts" %}</a>
<i class="right arrow icon divider"></i>
<a class="section" href="/pmgmt/{{object.id}}">{{ object.name }}</a>
{% endblock %}
{% block content %}
<h1>{{ object.name }}</h1>

{% if object.is_below_min_stock == True or object.is_on_stock == False %}
<div class="ui error message segment">
	<p>{% trans "The item is out of stock or below its minimum stock" %}</p>
</div>
{% endif %}

<table class="ui table segment">
    {% for verbose_name, value in object.get_fields %}
    {% if value %}
      <tr>
	<td>{{ verbose_name }}</td>
	<td>{{ value }} </td>
      </tr>
    {% endif %}
    {% endfor %}
</table>

<p>
  <a class="ui tiny button purple" href="/pmgmt/{{object.id}}/update/">{% trans "Update item" %}</a>
  <a class="ui tiny button purple" href="/pmgmt/{{object.id}}/delete/">{% trans "Delete item" %}</a>
</p>

{% endblock %}
