{% extends "base.html" %}

{% load i18n %}
{% block breadcrumbs %}
<a href="{% url "part_list" %}" class="section">{% trans "Parts" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href="{% url "part_detail" object.id %}">{{ object.name }}</a>
{% endblock %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block heading %}{{ object.name }}{% endblock %}

{% block content %}
{% if object.disabled == True %}
<div class="ui error message segment">
<p>{% trans "This part has been marked as disbaled. Please contact your admin for details." %}</p>
</div>
{% endif %}
{% if object.is_below_min_stock == True or object.is_on_stock == False %}
<div class="ui error message segment">
    <p>{% trans "The item is out of stock or below its minimum stock" %}</p>
</div>
{% endif %}

<h1>{{ object }}</h1>

<table class="ui table segment">
<tr>
    <th>{% trans "Name" %}</th>
    <td>{{object.name}}</td>
</tr>
<tr>
    <th>{% trans "Image" %}</th>
    <td><img src="{{object.pic.url}}"></td>
</tr>
<tr>
    <th>{% trans "SKU" %}</th>
    {% if object.sku %}
        <td>{{object.sku}}</td>
    {% else %}
        <td>&nbsp;</td>
    {% endif %}
</tr>
<tr>
    <th>{% trans "Measuring unit" %}</th>
    <td>{{object.unit}}</td>
</tr>
<tr>
    <th>{% trans "Distributor" %}</th>
    {% if object.distributor %}
        <td>{{object.distributor}}</td>
    {% else %}
        <td>{% trans "No Information" %}</td>
    {% endif %}
</tr>
<tr>
    <th>{% trans "Manufacturer" %}</th>
    {% if object.manufacturer %}
        <td>{{object.manufacturer}}</td>
    {% else %}
        <td>{% trans "No Information" %}</td>
    {% endif %}
</tr>
<tr>
    <th>{% trans "Categories" %}</th>
    <td>{% for i in object.categories.all %}{{ i }}<br/>{% endfor %}</td>
</tr>
<tr>
    <th>{% trans "Created by" %}</th>
    <td>{{object.created_by}}</td>
</tr>
</table>

<p>
{% if object.disabled == False %}
  <a class="ui purple button" href="{% url "part_update" object.id %}">{% trans "Update item" %}</a>
{% endif %}
<a class="ui purple button" href="{% url "part_delete" object.id %}">{% trans "Delete item" %}</a>
</p>


{% endblock %}
