{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% block breadcrumbs %}
<a href="{% url "partslist" %}" class="item">{% trans "Parts" %}</a>
<div class="item">
  <i class="right chevron icon divider"></i>
</div>
<a class="active item" href="{% url "part_detail" object.id %}">{{ object.name }}</a>

{% endblock %}
{% block content %}
<h1>{{ object.name }}</h1>
{% if object.disabled == True %}
<div class="ui error message segment">
<p>{% trans "This part has been marked as disbaled. Please contact your admin for details." %}</p>
</div>
{% endif %}
{% if object.is_below_min_stock == True or object.is_on_stock == False %}
<div class="ui error message segment">
    <p>{% trans "The item is out of stock or below its minimum stock" %}</p>
</div>
{% endif %}

<table class="ui table segment">
    {% for verbose_name, value in object.get_fields %}
    {% if value %}
    <tr>
    <td>{{ verbose_name }}</td>
    {% if value == "None" %}
        <td>{% trans "n/A" %}</td>
    {% else %}
        <td>{{ value }} </td>
    {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
</table>

<p>
{% if object.disabled == False %}
  <a class="ui tiny button purple" href="{% url "part_detail" object.id %}">{% trans "Update item" %}</a>
{% endif %}
<a class="ui tiny button purple" href="{% url "part_delete" %}">{% trans "Delete item" %}</a>
</p>


{% endblock %}
