{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% block breadcrumbs %}
<a href="{% url "partslist" %}" class="section">{% trans "Parts" %}</a>
{% endblock %}
{% block content %}
<p>{% trans "A list with all items ... " %}</p>
{% if object_list %}
<table class="ui table segment">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Minimum" %}</th>
      <th>{% trans "In Stock" %}</th>
      <th>{% trans "Manufacturer" %}</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr class="{% if item.is_below_min_stock == True or item.is_on_stock == False %}error{% endif %} ">
      <td><a href="/pmgmt/{{item.id}}">{{ item.name }}</a></td>
      <td>{{ item.min_stock|default:"" }}</td>
      <td>{{ item.on_stock|default:"" }}</td>
      <td>{{ item.manufacturer|default:"" }}</td>
      <td>{% if user.is_authenticated %}<a class="ui tiny button purple" href="/pmgmt/{{item.id}}/update/">{% trans "Update" %}</a>{% endif %}</td>
      <td>{% if user.is_authenticated %}<a class="ui tiny button purple" href="/pmgmt/{{item.id}}/delete/">{% trans "Delete" %}</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>{% trans "No data available at the moment" %}</p>
{% endif %}
{% endblock %}
