{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% block content %}
<p>A list with all items ... </p>
	{% if object_list %}
	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Minimum</td>
				<td>In Stock</td>
				<td>Manufacturer</td>
			</tr>
		</thead>
		<tbody>
			{% for item in object_list %}
			<tr>
				<td><a href="/pmgmt/{{item.id}}">{{ item.name }}</a></td>
				<td>{{ item.min_stock}}</td>
				<td>{{ item.on_stock }}</td>
				<td>{{ item.manufacturer }}</td>
				{% if user.is_authenticated %}
				<td><a href="/pmgmt/{{item.id}}/update/">{% trans "Update" %}</a></td>
				<td><a href="/pmgmt/{{item.id}}/delete/">{% trans "Delete" %}</a></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>

    {% else %}
    <p>No data available at the moment </p>
    {% endif %}
{% endblock %}
