{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<a href="{% url "storage_item_add" %}" class="active item">{% trans "Storage Item Add" %}</a>
{% endblock %}

{% block content %}
<p>{% trans "Use this to add new storage items, which are parts on a decent storage place" %}</p>
<form method="post" class="ui form segment" >
  {% csrf_token %}
  {{ form.as_semantic }}
  <input class="ui tiny button purple" type="submit" value="Submit">
</form>
{% endblock %}
