{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "storage_item_add" %}" class="active section">{% trans "Storage Item Add" %}</a>
{% endblock %}

{% block head_title %}{% trans "Add a storages item" %}{% endblock %}

{% block heading %}{% trans "Add a storages item" %}{% endblock %}

{% block content %}
<p>{% trans "Use this to add new storage items, which are parts on a decent storage place" %}</p>
<form method="post" class="ui form" >
  {% csrf_token %}
  {{ form.as_semantic }}
  <input class="ui purple button" type="submit" value="Submit">
</form>
{% endblock %}
