{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "storage_item_list" %}" class="item">{% trans "Storage Items" %}</a>
<i class="right chevron icon divider"></i>
<a class="active item" href="{% url "storage_item_detail" object.id%}">{{ object }}</a>

{% endblock %}
{% block content %}
<h1>{{ object }}</h1>

<table class="ui table segment">
<tr>
	<th>{% trans "Part" %}</th>
	<td>{{object.part}}</td>
</tr>
<tr>
	<th>{% trans "Storage" %}</th>
	<td><a href="{% url "storage_detail" object.storage.id%}">{{object.storage.name}}</a></td>
</tr>
<tr>
	<th>{% trans "On Stock" %}</th>
	{% if object.on_stock == None%}<td>{% trans "n/A" %}</td>{% else %} <td>{{object.on_stock}}</td> {% endif %}
</tr>
</table>

{% comment %}<p><a class="ui button blue" href="/pmgmt/stroageitem/{{object.id}}/delete/">{% trans "Delete item" %}</a></p>{% endcomment %}
<p>
	<a class="ui button blue" href="{% url "storage_item_update" object.id  %}">{% trans "Update item" %}</a>
	<a class="ui button blue" href="{% url "storage_item_stocktaking" object.id  %}">{% trans "Stock taking" %}</a>
</p>


{% endblock %}
