{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% block breadcrumbs %}
<a href="{% url "storage_item_list" %}" class="item">{% trans "Storage Items" %}</a>
<div class="item">
  <i class="right chevron icon divider"></i>
</div>
<a class="active item" href="/pmgmt/storageitem/{{object.id}}">{{ object }}</a>

{% endblock %}
{% block content %}
<h1>{{ object }}</h1>

<table class="ui table segment">
<tr>
	<th>{% trans "Part" %}</th>
	<td>{{object.part}}</td>
</tr>
<tr>
	<th>{% trans "Storage" %}</th>
	<td>{{object.storage}}</td>
</tr>
<tr>
	<th>{% trans "On Stock" %}</th>
	{% if object.on_stock == None%}<td>{% trans "n/A" %}</td>{% else %} <td>{{object.on_stock}}</td> {% endif %}
</tr>
</table>

<p><a class="ui tiny button purple" href="/pmgmt/stroageitem/{{object.id}}/delete/">{% trans "Delete item" %}</a>
</p>


{% endblock %}
