{% extends "base.html" %}

{% load i18n %}
{% load semanticui %}
{% load static %}
{% block head_title %}{% trans "Stocktaking" %}{% endblock %}
{% block heading %}{% trans "Stocktaking" %}{% endblock %}


{% block content %}
<h1>{{ object }}</h1>
<p>{% trans "It will create an Transaction adjusting the amount for items on stock to reported one.." %}</p>
<form method="post" class="ui form segment">
  {% csrf_token %}
  {{ form|semanticui }}
  {% render_form form _help=1 %}
  <input class="ui button blue" type="submit" value="Submit">
</form>
{% endblock %}
