{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "storage_item_list" %}" class="item">{% trans "Storage Items" %}</a>
<div class="item">
  <i class="right chevron icon divider"></i>
</div>
<a class="active item" href="{% url 'storage_item_detail' object.id %}">{{ object }}</a>
{% endblock %}

{% block content %}
<h1>{{ object }}</h1>
<p>{% trans "Changes here will not change die internal ID of a storage item, but it will change the name you will see inside the application." %}</p>
<form method="post" class="ui form segment">
  {% csrf_token %}
  {{ form.as_semantic }}
  <input class="ui button blue" type="submit" value="Submit">
</form>
{% endblock %}
