{% extends "base.html" %}

{% load i18n %}
{% load semanticui %}
{% load static %}

{% block head_title %}{{ object }}{% endblock %}
{% block heading %}{{ object }}{% endblock %}


{% block breadcrumbs %}
<a href="{% url "storage_item_list" %}" class="section">{% trans "Stroage Items" %}</a>
<i class="right chevron icon divider"></i><a class="active section" href="{% url "storage_item_detail"  object.id %}">{{ object }}</a>
{% endblock %}

{% block content %}
<p>{% trans "Changes here will not change die internal ID of a storage item, but it will change the name you will see inside the application." %}</p>
<form method="post" class="ui form segment">
  {% csrf_token %}
  {{ form }}
  <input class="ui button blue" type="submit" value="Submit">
</form>
{% endblock %}
