{% load i18n %}

{% load humanize %}
{% load mathfilters %}
{% if parts|length > 0 %}
<h4>{% trans "Recent parts" %}</h4>
<div class="ui divider"></div>
<div class="ui small feed">
  {% for part in parts %}
  <div class="event">
    <div class="content">
       <div class="summary">
        <a href="{% url "part_detail" part.id %}">{{ part.name }}</a>
        <div class="date"  data-tooltip="{{ part.creation_time }}">
          {{ part.creation_time | naturaltime }} by 
          <a class="user">
            {{ part.created_by }}
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% else %}
<div class="ui segment">
  <p>{% trans "No new parts." %}</p>
</div>
{% endif %}
