{% load i18n %}

{% load humanize %}
{% load mathfilters %}

{% if transactions|length > 0 %}
<div class="ui divided items">
  {% for transaction in transactions %}
  <div class="item">
    <div class="content">
      <div class="header">
        {{ transaction.subject }}
      </div>
      <div class="meta">
        <span class="date">
          {{ transaction.date }}
        </span>
      </div>
      <div class="description">
        <p>
          {{ transaction.created_by }} {% if transaction.amount > 0 %}added {{ transaction.amount|abs|floatformat }} {{ transaction.storage_item.part.unit }} {{ transaction.storage_item.part }} to{% else %}took {{ transaction.amount|abs|floatformat }} {{ transaction.storage_item.part.unit }} {{ transaction.storage_item.part }} from{% endif %} {{ transaction.storage_item.storage }}
        </p>
        {% if transaction.comment|length > 0 %}<p>
          {{ transaction.comment }}
        </p>{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% else %}
<div class="ui segment">
  <p>{% trans "No transactions." %}</p>
</div>
{% endif %}
