main.main.container {
  margin-top: 5em;
  min-height: calc(100% - 108px);
}

.ui.menu .item {
  padding: 0.7em 0.8em;
}

.ui.footer.segment {
  margin: 2em 0em 0em;
  padding: 2em 0em;
}

.ui.form input[type="search"],
.ui.form input[type="search"]:focus {
	box-shadow: none;
	border: none;
	-webkit-appearance: textfield;
	padding:0;
	line-height: 2.5em;
}
