{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% block breadcrumbs %}
<a href="{% url "storage_list" %}" class="item">{% trans "Storages" %}</a>
<div class="item">
  <i class="right chevron icon divider"></i>
</div>
<a class="active item" href="{% url "storage_detail"  object.id %}">{{ object.name }}</a>

{% endblock %}
{% block content %}
<h1>{{ object.name }}</h1>

<table class="ui table segment">
<tr>
	<th>{% trans "Storage Name" %}</th>
	<td>{{object.name}}</td>
</tr>
<tr>
	<th>{% trans "Storage Type" %}</th>
	<td>{{object.storage_type}}</td>
</tr>
</table>

<p><a class="ui tiny button purple" href="{% url "storage_update" object.id %}">{% trans "Update item" %}</a>
</p>


{% endblock %}
