{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "storage_list" %}" class="section">{% trans "Storages" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href="{% url "storage_detail"  object.id %}">{{ object.name }}</a>
{% endblock %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block heading %}{{ object.name }}{% endblock %}

{% block content %}

<div class="ui stackable two column grid">
  <div class="column">

<table class="ui definition table">
  <colgroup>
    <col width="14%">
    <col>
  </colgroup>
  <tr>
    <td>{% trans "Storage Name" %}</td>
    <td>{{object.name}}</td>
  </tr>
  <tr>
    <td>{% trans "Storage Type" %}</td>
    <td>{{object.storage_type}}</td>
  </tr>
  <tr>
      <td>{% trans "Description" %}</td>
      {% if object.description == None %}
          <td>{% trans "no Details" %}
      {% else %}
          <td>{{object.description}}</td>
      {% endif %}
  </tr>
  <tr>
      <td>{% trans "Parts to find here" %}</td>
      <td><ui class="list ui">
          {% for sth in object.get_storage_items %}
          <li><a href="{% url "storage_item_detail" sth.id %}">{{sth.part}}</a></li>
          {% endfor %}</ui></td>
  </tr>
</table>
</div>
{% if object.pic %}
<div class="column">
    <img class="ui fluid rounded image medium" src="{{object.pic.url}}">
</div>
{% else %}
<div class="column">
    <img class="ui fluid rounded image medium" src="{% static "img/no-pic.png" %}">
</div>
{% endif %}

{% if user.is_authenticated %}
<p><a class="ui button blue" href="{% url "storage_update" object.id %}">{% trans "Update item" %}</a> </p>
{% endif %}

{% endblock %}
