{% extends "base.html" %}

{% load url from future %}
{% load i18n %}


{% block breadcrumbs %}
<a href="{% url "storage_list" %}" class="active section">{% trans "Storages" %}</a>
{% endblock %}

{% block head_title %}{% trans "List of storages" %}{% endblock %}

{% block heading %}{% trans "List of storages" %}{% endblock %}

{% block content %}
{% if object_list %}
<table class="ui table">
  <colgroup>
    <col>
    <col>
    <col>
    {% if user.is_authenticated %}
    <col width="16%">
    {% else %}
    <col width="8%">
    {% endif %}
  </colgroup>
  <thead>
    <tr>
      <th>{% trans "Storage Name" %}</th>
      <th>{% trans "Storage Typ" %}</th>
      <th>{% trans "Assigned To" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
      <td><a href="{% url "storage_detail" item.id %}">{{ item.name }}</a></td>
      <td>{{item.storage_type}}</td>
      {% if item.parent == None %} <td>{% trans "n/A" %}</td> {% else %}<td><a href="{% url "storage_detail" item.parent.id %}">{{item.parent.name}}</a></td>{% endif %}

      <td>
        <a class="ui tiny button purple" href="{% url "storage_detail" item.id%}"/>Detail</a>
        {% if user.is_authenticated %}
        <a class="ui tiny button purple" href="{% url "storage_update" item.id %}">{% trans "Update" %}</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>{% trans "No data available at the moment" %}</p>
{% endif %}
{% endblock %}
