{% extends "base.html" %}

{% load i18n %}
{% load semanticui %}

{% block breadcrumbs %}
<a href="{% url "storage_list" %}" class="section">{% trans "Storages" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href="{% url 'storage_update' object.id %}">{% blocktrans with name=object.name %}Update of „{{ name }}“{% endblocktrans %}</a>
{% endblock %}

{% block head_title %}{% blocktrans with name=object.name %}Update of „{{ name }}“{% endblocktrans %}{% endblock %}

{% block heading %}{% blocktrans with name=object.name %}Update of „{{ name }}“{% endblocktrans %}{% endblock %}

{% block content %}
<form class="ui form" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    {% render_form form _help=1 %}
  	<input class="ui blue button" type="submit" value="Submit">
</form>
{% endblock %}
