{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<a class="section" href="{% url "account_settings" %}">{% trans "Settings" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href=" {% url "account_delete" %}"> {% trans "Delete your account" %} </a>
{% endblock %}

{% block head_title %}{% trans "Delete Account" %}{% endblock %}

{% block heading %}{% trans "Delete Account" %}{% endblock %}

{% block content %}
<p>{% trans "If you go ahead and delete your account, your  personal information will be purged</b>" %}</p>

<form method="post" action="{% url "account_delete" %}" autocapitalize="off">
  {% csrf_token %}
  <button type="submit" class="ui purple button ">Delete My Account</button>
</form>

{% endblock %}
