{% extends "base.html" %}

{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<a class="item" href="{% url "account_settings" %}">{% trans "Settings" %}</a>
<div class="item">
  <i class="right chevron icon divider"></i>
</div>
<a class="active item" href=" {% url "account_delete" %}"> {% trans "Delete your account" %} </a>
{% endblock %}

{% block content %}
<h1 class="ui header dividing">{% trans "Delete Account" %}</h1>

<p>{% trans "If you go ahead and delete your account, your  personal information will be purged</b>" %}</p>

<form method="post" action="{% url "account_delete" %}" autocapitalize="off">
  {% csrf_token %}
  <button type="submit" class="ui tiny button purple ">Delete My Account</button>
</form>

{% endblock %}
