{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block breadcrumbs %}
<a class="active section" href=" {% url "account_login" %}"> {% trans "Log in" %} </a>
{% endblock %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block heading %}{% trans "Log in" %}{% endblock %}

{% block content %}
<form method="POST" action="{% url "account_login" %}" autocapitalize="off" class="ui form">
  {% csrf_token %}
  {{ form.as_semantic }}
  <button class="ui purple button" type="submit">{% trans "Log in" %}</button> <a class="ui purple button" href="{% url "account_password_reset" %}">{% trans "Forgot your password?" %}</a>
</form>

{% endblock %}


