{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<p> {% trans "Please login with an existing account:" %}</p>
<form method="POST" action="{% url "account_login" %}" autocapitalize="off" class="ui form segment">
  {% csrf_token %}
  {{ form.as_semantic }}
  <button class="ui purple tiny button" type="submit">{% trans "Log in" %}</button> <a class="ui purple tiny button" href="{% url "account_password_reset" %}">{% trans "Forgot your password?" %}</a>
</form>

{% endblock %}


