{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "account_logout" %}" class="active section">{% trans "Logout" %}</a>
{% endblock %}

{% block head_title %}{% trans "Account Logout" %}{% endblock %}

{% block heading %}{% trans "Account Logout" %}{% endblock %}

{% block content %}
<h1 class="ui dividing header">{% trans "Log out" %}</h1>
<form class="ui form segment" method="POST" action="{% url "account_logout" %}">
  {% csrf_token %}
  <p>{% trans "Are you sure you want to log out?" %}</p>
  <button type="submit" class="ui button blue">{% trans "Log out" %}</button>
</form>

{% endblock %}
