{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block breadcrumbs %}
<a class="item" href="{% url "account_settings" %}">{% trans "Settings" %}</a>
<div class="item">
  <i class="right chevron icon divider"></i>
</div>
<a class="active item" href=" {% url "account_password" %}"> {% trans "Change your password here" %} </a>
{% endblock %}

{% block content %}
<form method="POST" action="" class="ui form segment">
  {% csrf_token %}
  <p>{% trans "Please enter you old and your new password" %}</p>
  {{ form.as_semantic}}
  <input class="ui tiny button purple" type="submit" value="Submit">
</form>
{% endblock %}
