{% extends "base.html" %}

{% load i18n %}
{% load account_tags %}
{% load semanticui %}

{% block head_title %}{% trans "Set your new password" %}{% endblock %}
{% block heading %}{% trans "Set your new password" %}{% endblock %}

{% block content %}
<h2>{% trans "Set your new password" %}</h2>
<form method="POST" class="ui form" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
    {% csrf_token %}
        {{ form }}
    <input class="ui blue button" type="submit" value="{% trans "Save" %}"></button>
</form>

{% endblock %}
