{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "account_settings" %}" class="active section">{% trans "Settings" %}</a>
{% endblock %}

{% block head_title %}{% trans "Account settings" %}{% endblock %}

{% block heading %}{% trans "Account settings" %}{% endblock %}

{% block content %}
<h2 class="ui header dividing">{% trans "General Account Settings" %}</h2>
<p>{% trans "Change here your account data:" %}</p>
<form class="ui form" method="POST" action="{% url "account_settings" %}">
  {% csrf_token %}
  {{ form.as_semantic }}
  <button class="ui purple button" type="submit"> {% trans "Save" %}</button>
</form>

<h2 class="ui header dividing">{% trans "Password" %}</h2>

<p>
  <a href=" {% url "account_password" %}"> {% trans "Change your password here" %} </a>
</p>

<h2 class="ui header dividing">{% trans "Delete Account" %}</h2>
<p>
  <a href=" {% url "account_delete" %}"> {% trans "Delete your account" %}</a>
</p>
{% endblock %}
