{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<a class="active item" href=" {% url "account_signup" %}"> {% trans "Sign up" %} </a>
{% endblock %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block heading %}{% trans "Sign up" %}{% endblock %}

{% block content %}
<form class="ui form" id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {{ form.as_semantic }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="ui purple button" type="submit">{% trans "Sign up" %}</button>
</form>

{% endblock %}

