#
# A systemd service definition for partuniverse
#
[Unit]
Description=partuniverse service definition
Requires=nginx.service partuniverse.socket
Before=nginx.service
After=network.target

[Service]
PIDFile=/run/partuniverse/pid
User=partuniverse
Group=partuniverse
WorkingDirectory=/home/partuniverse/partuniverse/partuniverse
ExecStart=/home/partuniverse/Envs/partuniverse/bin/gunicorn --pid /run/partuniverse/pid partuniverse.wsgi:application --bind 127.0.0.1:8005
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
# When should this service be triggered? (this is the equivalent of SysV's runlevel 3)
WantedBy=multi-user.target