{% extends "base.html" %}

{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<a href="{% url "manufacturer_list" %}" class="item">{% trans "Manufacturers" %}</a>
<div class="item">
  <i class="right chevron icon divider"></i>
</div>
<a class="active item" href="{% url 'manufacturer_add' %}">{% trans "Add" %}</a>
{% endblock %}

{% block content %}
<form method="post" class="form-horizontal" >
{% csrf_token %}
<table>
    {{form.as_p}}
</table>
<input type="submit" value="Submit">
</form>
{% endblock %}
