{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block heading %}{{ object.name }}{% endblock %}

{% block breadcrumbs %}
<a href="{% url "manufacturer_list" %}" class="section">{% trans "Manufacturers" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href="{% url 'manufacturer_detail' object.id %}">{{ object.name }}</a>
{% endblock %}

{% block content %}
<div class="ui stackable two column grid">
<div class="column">
<table class="ui definition table segment very compact">
<tr>
    <td>{% trans "Name" %}</td>
    <td>{{object.name}}</td>
</tr>
{% if object.url %}
<tr>
    <td>{% trans "URL" %}</td>
    <td><a href="{{object.url}}">{{object.url}}</a></td>
</tr>
{% endif %}
<tr>
    <td>{% trans "Parts by this manufacturer" %}</td>
    <td><ui class="list ui">
    {% for sth in object.get_parts %}
        <li><a href="{% url "part_detail" sth.id %}">{{sth.name}}</a></li>
    {% endfor %}
    </ui></td>
</tr>

</table>
</div>

{% if object.logo %}
<div class="column">
    <img class="ui fluid rounded image small" src="{{object.logo.url}}">
</div>
{% else %}
<div class="column">
    <img class="ui fluid rounded image small" src="{% static "img/no-pic.png" %}">
</div>
{% endif %}
{% if user.is_authenticated %}
<p><a class="ui button blue" href="{% url "manufacturer_update" object.id %}">{% trans "Update Manufacturer" %}</a></p>
{% endif %}
{% endblock %}
