{% extends "base.html" %}

{% load i18n %}
{% load semanticui %}

{% block breadcrumbs %}
<a href="{% url "manufacturer_list" %}" class="section">{% trans "Manufacturers" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href="{% url 'manufacturer_detail' object.id %}">{{ object.name }}</a>
{% endblock %}

{% block head_title %}{% trans "Update part" %}{% endblock %}

{% block heading %}{% trans "Update part" %}{% endblock %}

{% block content %}
<form class="ui form" method="post">
    {% csrf_token %}
    {{ form|semanticui }}
    <input class="ui blue button" type="submit" value="Submit">
</form>
{% endblock %}
