{% extends "base.html" %}

{% load i18n %}
{% load static %}


{% block breadcrumbs %}
<a href="{% url "storage_list" %}" class="section">{% trans "Storages" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href="{% url "storage_detail"  object.id %}">{{ object.name }}</a>
{% endblock %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block heading %}{{ object.name }}{% endblock %}

{% block content %}

{% if object.pic %}
<div class="column">
    <img class="ui fluid rounded image small" src="{{object.pic.url}}">
</div>
{% endif %}

<div class="ui stackable two column grid">
  <div class="column">
<table class="ui definition table very compact">
  <colgroup>
    <col width="14%">
    <col>
  </colgroup>
  <tr>
    <td>{% trans "Storage Type Name" %}</td>
    <td>{{object.name}}</td>
  </tr>
  <tr>
      <td>{% trans "Description" %}</td>
      <td>{% if object.description %}
          {{object.description}}
      {% else %}
          {% trans "No detailed description available." %}
      {% endif %}</td>
  </tr>
</table>
</div>

{% if object.pic %}
<div class="column">
    <img class="ui fluid rounded image medium" src="{{object.pic.url}}">
</div>
{% else %}
<div class="column">
    <img class="ui fluid rounded image medium" src="{% static "img/no-pic.png" %}">
</div>
{% endif %}
<div class="ui clearing hidden divider"></div>

<p><a class="ui button blue" href="{% url "storage_type_update" object.id %}">{% trans "Update item" %}</a>
</p>


{% endblock %}
