{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "transaction_list" %}" class="section">{% trans "Transactions" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section">{% trans "Add" %}</a>
{% endblock %}

{% block head_title %}{% trans "Add a new transaction" %}{% endblock %}

{% block heading %}{% trans "Add a new transaction" %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/jquery.datetimepicker.css" %}">
{% endblock %}

{% block javascripts %}
<script src="{% static "datetimepicker/jquery.datetimepicker.js" %}"></script>
<script src="{% static "custom/datepicker.js" %}"></script>
{% endblock %}

{% block content %}
<form method="post" class="ui form">
  {% csrf_token %}
  {{form.as_semantic}}
  <input class="ui blue button" type="submit" value="Submit">
</form>
{% endblock %}
