{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load semanticui %}

{% block breadcrumbs %}
<a href="{% url "transaction_list" %}" class="section">{% trans "Transactions" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section">{% trans "Add" %}</a>
{% endblock %}

{% block head_title %}{% trans "Add a new transaction" %}{% endblock %}

{% block heading %}{% trans "Add a new transaction" %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "datetimepicker/jquery.datetimepicker.css" %}">
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script src="{% static "datetimepicker/jquery.datetimepicker.js" %}"></script>
<script src="{% static "custom/datepicker.js" %}"></script>
{% endblock %}

{% block content %}

<div class="ui attached segment">
  <p>{% trans "Attention: The amount of change is the actual change. If you take out 1 item from a storage it's actually a -1 of amount." %}</p>
</div>

<form method="post" class="ui form">
  {% csrf_token %}
  {{ form|semanticui }}
  <input class="ui blue button" type="submit" value="{% trans "Add" %}">
</form>
{% endblock %}
