{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "transaction_list" %}" class="active section">{% trans "Transactions" %}</a>
{% endblock %}

{% block head_title %}{% trans "List of transactions" %}{% endblock %}

{% block heading %}{% trans "List of transactions" %}{% endblock %}

{% block content %}
<a
   accesskey="a"
   class="ui right blue ribbon label"
   href="{% url "transaction_add"%}"
   >
  <i class="icon add"></i> {% trans "Add" %}
</a>
<table class="ui table segment very compact">
  <thead>
    <tr>
      <th>{% trans "What" %}</th>
      <th>{% trans "Why" %}</th>
      <th>{% trans "How much" %}</th>
      <th>{% trans "When" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>{{ item.storage_item }}</td>
      <td><a href="{% url "transaction_detail" item.id%}">{{ item.subject }}</a></td>
      <td>{{ item.amount|floatformat }}</td>
      <td>{{ item.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<div class="ui fluid pagination menu">
  {% for number in page_obj.paginator.page_range %}
  <a class="{% if number == page_obj.number %}active {% endif %}item" href="{% url "transaction_list" %}?page={{ number }}{% if view.search %}&amp;search={{ view.search }}{% endif %}">
    {{ number }}
  </a>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
