{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "transaction_list" %}" class="active section">{% trans "Transactions" %}</a>
{% endblock %}

{% block head_title %}{% trans "List of transactions" %}{% endblock %}

{% block heading %}{% trans "List of transactions" %}{% endblock %}

{% block content %}
<a
   accesskey="a"
   class="ui right blue ribbon label"
   href="{% url "transaction_add"%}"
   >
  <i class="icon add"></i> Add
</a>
<table class="ui table segment">
  <thead>
    <tr>
      <th>{% trans "What" %}</th>
      <th>{% trans "State" %}</th>
      <th>{% trans "Why" %}</th>
      <th>{% trans "How much" %}</th>
      <th>{% trans "When" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>{{ item.storage_item }}</td>
      {% if item.state = '---' %}
          <td></td>
      {% else %}
          <td>{{ item.state }} </td>
      {% endif %}
      <td>{{ item.subject }}</td>
      <td>{{ item.amount|floatformat }}</td>
      <td>{{ item.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
