{% extends "base.html" %}

{% load i18n %}
{% load url from future %}

{% block breadcrumbs %}
<a href="{% url "distributor_list" %}" class="item">{% trans "Distributors" %}</a>
<div class="item">
  <i class="right chevron icon divider"></i>
</div>
<a class="active item">{% trans "Add" %}</a>
{% endblock %}

{% block content %}
<form method="post" class="ui form segment" >
  {% csrf_token %}
  {{ form.as_semantic }}
  <input class="ui tiny button purple" type="submit" value="Submit">
</form>
{% endblock %}
