{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "distributor_list" %}" class="section">{% trans "Distributors" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href="{% url 'distributor_detail' object.id %}">{{ object.name }}</a>
{% endblock %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block heading %}{{ object.name }}{% endblock %}

{% block content %}

<table class="ui definition table segment">
<tr>
    <td>{% trans "Name" %}</td>
    <td>{{object.name}}</td>
</tr>
</table>
{% if object.logo %}
<div class="column">
    <img class="ui fluid rounded image" src="{{object.logo.url}}">
</div>
{% endif %}


{% if user.is_authenticated %}
<p><a class="ui button blue" href="{% url "distributor_update" object.id %}">{% trans "Update item" %}</a></p>
{% endif %}
{% endblock %}
