{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "distributor_list" %}" class="active section">{% trans "Distributors" %}</a>
{% endblock %}

{% block head_title %}{% trans "List of distributors" %}{% endblock %}

{% block heading %}{% trans "List of distributors" %}{% endblock %}

{% block content %}
{% if object_list %}
<table class="ui table segment">
  <colgroup>
    <col>
    <col width="8%">
  </colgroup>
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td><a href="{% url "distributor_detail" item.id %}">{{ item.name }}</a></td>
      <td>{% if user.is_authenticated %}<a class="ui tiny button purple" href="{% url "distributor_update" item.id %}">{% trans "Update" %}</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>{% trans "No data available at the moment" %}</p>
{% endif %}
<p><a class="ui tiny purple button" accesskey="a" href="{% url "distributor_add" %}">{% trans "Add a new distributor" %}</a></p>
{% endblock %}
