{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "distributor_list" %}" class="active section">{% trans "Distributors" %}</a>
{% endblock %}

{% block head_title %}{% trans "List of distributors" %}{% endblock %}

{% block heading %}{% trans "List of distributors" %}{% endblock %}

{% block javascripts %}
{{ block.super }}
<script src="{% static "jquery-tablesort/jquery.tablesort.min.js" %}"></script>
<script src="{% static "custom/tablesort.js" %}"></script>
{% endblock %}

{% block content %}
<a
   accesskey="a"
   class="ui right blue ribbon label"
   href="{% url "distributor_add"%}"
   >
  <i class="icon add"></i> Add
</a>

{% if object_list %}
<table class="ui table sortable segment">
  <colgroup>
    <col>
    <col width="8%">
  </colgroup>
  <thead>
    <tr>
      <th class="sorted ascending">{% trans "Name" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td><a href="{% url "distributor_detail" item.id %}">{{ item.name }}</a></td>
      <td>{% if user.is_authenticated %}<a class="ui button blue" href="{% url "distributor_update" item.id %}">{% trans "Update" %}</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<div class="ui fluid pagination menu">
  {% for number in page_obj.paginator.page_range %}
  <a class="{% if number == page_obj.number %}active {% endif %}item" href="{% url "distributor_list" %}?page={{ number }}">
    {{ number }}
  </a>
  {% endfor %}
</div>
{% endif %}

{% else %}
<p>{% trans "No data available at the moment" %}</p>
{% endif %}
{% endblock %}
