{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block breadcrumbs %}
<a href="{% url "distributor_list" %}" class="item">{% trans "Distributors" %}</a>
<div class="item">
  <i class="right chevron icon divider"></i>
</div>
<a class="active item" href="{% url 'distributor_detail' object.id %}">{{ object.name }}</a>
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Submit">
</form>
{% endblock %}
