{% extends "base.html" %}

{% load i18n %}
{% block breadcrumbs %}
<a href="{% url "part_list" %}" class="section">{% trans "Parts" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href="{% url "part_detail" object.id %}">{{ object.name }}</a>
{% endblock %}

{% block head_title %} {% if object.manufacturer %} {{ object.manufacturer }} - {% endif %}{{ object.name }}{% endblock %}

{% block heading %} {% if object.manufacturer %} {{ object.manufacturer }} - {% endif %}{{ object.name }}{% endblock %}

{% block content %}
{% if object.disabled == True %}
<div class="ui error message segment">
<p>{% trans "This part has been marked as disbaled. Please contact your admin for details." %}</p>
</div>
{% endif %}
{% if object.is_below_min_stock == True or object.is_on_stock == False %}
<div class="ui error message segment">
    <p>{% trans "The item is out of stock or below its minimum stock" %}</p>
</div>
{% endif %}
<div class="ui stackable {% if object.pic %}two{% else %}one{% endif %} column grid">
  <div class="column">
<table class="ui definition table segment">
<tr>
    <td>{% trans "Name" %}</td>
    <td>{{object.name}}</td>
</tr>
<tr>
    <td>{% trans "SKU" %}</td>
    {% if object.sku %}
        <td>{{object.sku}}</td>
    {% else %}
        <td>&nbsp;</td>
    {% endif %}
</tr>
<tr>
    <td>{% trans "Measuring unit" %}</td>
    <td>{{object.unit}}</td>
</tr>
<tr>
    <td>{% trans "Costs" %}</td>
    {% if object.sku %}
        <td>{{object.price}}</td>
    {% else %}
        <td>&nbsp;</td>
    {% endif %}
</tr>
<tr>
    <td>{% trans "Distributor" %}</td>
    {% if object.distributor %}
        <td>{{object.distributor}}</td>
    {% else %}
        <td>{% trans "No Information" %}</td>
    {% endif %}
</tr>
<tr>
    <td>{% trans "Manufacturer" %}</td>
    {% if object.manufacturer %}
        <td>{{object.manufacturer}}</td>
    {% else %}
        <td>{% trans "No Information" %}</td>
    {% endif %}
</tr>
<tr>
    <td>{% trans "Description" %}</td>
    {% if object.description %}
        <td>{{object.description}}</td>
    {% else %}
        <td>{% trans "No description available." %}</td>
    {% endif %}
</tr>
<tr>
    <td>{% trans "Categories" %}</td>
    <td>{% for i in object.categories.all %}{{ i }}<br/>{% endfor %}</td>
</tr>
<tr>
    <td>{% trans "Created by" %}</td>
    <td>{{object.created_by}}</td>
</tr>
</table>
  </div>
{% if object.pic %}
<div class="column">
    <img class="ui fluid rounded image" src="{{object.pic.url}}">
</div>
{% endif %}
</div>
<div class="ui clearing hidden divider"></div>
<p>
{% if object.disabled == False %}
  <a class="ui blue button" href="{% url "part_update" object.id %}">{% trans "Update item" %}</a>
{% endif %}
<a class="ui blue button" href="{% url "part_delete" object.id %}">{% trans "Delete item" %}</a>
</p>


{% endblock %}
