{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "part_list" %}" class="section">{% trans "Parts" %}</a>
<i class="right chevron icon divider"></i>
<a class="active section" href="{% url "part_detail" object.id %}">{{ object.name }}</a>
{% endblock %}

{% block head_title %} {% if object.manufacturer %} {{ object.manufacturer }} - {% endif %}{{ object.name }}{% endblock %}

{% block heading %} {% if object.manufacturer %} {{ object.manufacturer }} - {% endif %}{{ object.name }}{% endblock %}

{% block content %}
{% if object.disabled == True %}

<div class="ui error message segment">
<p>{% trans "This part has been marked as disbaled. Please contact your admin for details." %}</p>
</div>
{% endif %}
{% if object.is_below_min_stock == True or object.is_on_stock == False %}
<div class="ui error message segment">
    <p>{% trans "The item is out of stock or below its minimum stock" %}</p>
</div>
{% endif %}

<div class="ui stackable two column grid">
  <div class="column">
<table class="ui definition table segment very compact">
<tr>
    <td>{% trans "Name" %}</td>
    <td>{{object.name}}</td>
</tr>
<tr>
    <td>{% trans "SKU" %}</td>
    {% if object.sku %}
        <td>{{object.sku}}</td>
    {% else %}
        <td>&nbsp;</td>
    {% endif %}
</tr>
<tr>
    <td>{% trans "Measuring unit" %}</td>
    <td>{{object.get_unit_display}}</td>
</tr>
<tr>
    <td>{% trans "Costs" %}</td>
    {% if object.price %}
        <td>{{object.price}}</td>
    {% else %}
        <td>&nbsp;</td>
    {% endif %}
</tr>
<tr>
    <td>{% trans "Distributor" %}</td>
    {% if object.distributor %}
        <td>{{object.distributor}}</td>
    {% else %}
        <td>{% trans "No Information" %}</td>
    {% endif %}
</tr>
<tr>
    <td>{% trans "Manufacturer" %}</td>
    {% if object.manufacturer %}
        <td>{{object.manufacturer}}</td>
    {% else %}
        <td>{% trans "No Information" %}</td>
    {% endif %}
</tr>
<tr>
    <td>{% trans "Description" %}</td>
    {% if object.description %}
        <td>{{object.description}}</td>
    {% else %}
        <td>{% trans "No description available." %}</td>
    {% endif %}
</tr>
<tr>
    <td>{% trans "Categories" %}</td>
    <td>{% for i in object.categories.all %}<a href="{% url "category_detail" i.id %}">{{ i }}</a><br/>{% endfor %}</td>
</tr>
<tr>
    <td class="top aligned">{% trans "Storage Item(s)" %}</td>
    <td><div class="ui relaxed divided list">
        {% if object.get_storage_items %}
            {% for item in object.get_storage_items %}
            {% if not item.disabled %}
            <div class="item">
                <div class="content">
                    <div class="header">
                        <a href="{% url "storage_item_detail" item.id %}">{{item.storage}}</a>
                    </div>
                {% if item.on_stock %}
                ({{item.on_stock}}{{object.unit}})<a href="{% url "storage_item_transaction" item.id %}" class="ui button mini teal right floated compact">{% trans "Update stock" %}</a>
            {% else %}
            {% trans "(unknown quantity on stock)" %}
            {% endif %}
            <a href="{% url "storage_item_detail" item.id %}" class="ui button mini teal right floated compact">{% trans "Detail" %}</a>
            </div></div>

            {% endif %}
            {% endfor %}
        {% endif %}
        <div class="item"><a href="{% url "part_add_storage_item" object.id %}" class="ui button mini blue right floated compact">{% trans "Add new" %}</a></div>
    </div></td>
</tr>
{% if object.data_sheet %}
<tr>
    <td>{% trans "Data sheet" %}</td>
    <td><a href="{{object.data_sheet.url}}">{{object.data_sheet_name}}</a></td>
</tr>
{% endif %}
</table>
</div>
{% if object.pic %}
<div class="column">
    <img class="ui fluid rounded image medium" style="max-height: 400px; height:auto; max-width: 400px; width:auto;" src="{{object.pic.url}}" />
  </div>
  {% else %}
  <div class="column">
    <img class="ui fluid rounded image medium" src="{% static "img/no-pic.png" %}"
    alt="{% trans "No picture available" %}"/>
  </div>
{% endif %}
</div>
<div class="ui clearing hidden divider"></div>

{% if object.disabled == False %}
  <a class="ui blue button" href="{% url "part_update" object.id %}">{% trans "Update item" %}</a>
{% endif %}
<a class="ui blue button" href="{% url "part_delete" object.id %}">{% trans "Delete item" %}</a>

{% endblock %}
